#rightMenu
	.rightMenu-group.rightMenu-small
		a.rightMenu-item(onclick="window.history.back();")
			i.fa-solid.fa-arrow-left
		a.rightMenu-item(onclick="window.history.forward();")
			i.fa-solid.fa-arrow-right
		a.rightMenu-item(onclick="window.location.reload();")
			i.fa-solid.fa-rotate-right
		a.rightMenu-item(onclick="mrzefr.scrollToTop();")
			i.fa-solid.fa-arrow-up
	.rightMenu-group.rightMenu-line.hide#menu-text
		a.rightMenu-item(onclick="mrzefr.copySelect();")
			i.fa-solid.fa-copy
			span='复制'
		a.rightMenu-item(onclick="mrzefr.searchBaidu();")
			i.fa-solid.fa-magnifying-glass.faa-tada.animated-hover
			span='百度搜索'
		a.rightMenu-item(onclick="mrzefr.searchGoogle();")
			i.fa-brands.fa-google.faa-tada.animated-hover
			span='谷歌搜索'
		a.rightMenu-item(onclick="mrzefr.searchBing();")
			i.fa-brands.fa-microsoft.faa-tada.animated-hover
			span='必应搜索'
		a.rightMenu-item(onclick="mrzefr.comment();")
			i.fa-solid.fa-comments.faa-tada.animated-hover
			span='评论一下'
	.rightMenu-group.rightMenu-line.hide#menu-too
		a.rightMenu-item(onclick="mrzefr.open()")
			i.fa-solid.fa-link
			span='转到链接'
	.rightMenu-group.rightMenu-line.hide#menu-paste
		a.rightMenu-item(onclick='mrzefr.paste()')
			i.fa-solid.fa-paste
			span='粘贴'
	.rightMenu-group.rightMenu-line.hide#menu-to
		a.rightMenu-item(onclick="mrzefr.openWithNewTab()")
			i.fa-solid.fa-window-restore
			span='新窗口打开'
		a.rightMenu-item#menu-too(onclick="mrzefr.open()")
			i.fa-solid.fa-link
			span='转到链接'
		a.rightMenu-item(onclick="mrzefr.copyLink()")
			i.fa-solid.fa-copy
			span='复制链接'
	.rightMenu-group.rightMenu-line.hide#menu-img
		a.rightMenu-item(onclick="mrzefr.saveAs();")
			i.fa-solid.fa-download
			span='保存图片'
		a.rightMenu-item(onclick="mrzefr.openWithNewTab()")
			i.fa-solid.fa-window-restore
			span='在新窗口打开'
		a.rightMenu-item(onclick="mrzefr.click()")
			i.fa-solid.fa-magnifying-glass-plus
			span='全屏显示'
		a.rightMenu-item(onclick="mrzefr.copyLink()")
			i.fa-solid.fa-copy
			span='复制图片链接'
	.rightMenu-group.rightMenu-line
		a.rightMenu-item(onclick="toRandomPost();")
			i.fa-solid.fa-paper-plane
			span='随便看看'
		a.rightMenu-item(onclick="mrzefr.switchDarkMode();")
			i.fa-solid.fa-moon
			span='昼夜切换'
		a.rightMenu-item(onclick="mrzefr.translate();")
			i.fa-solid.fa-language
			span='繁简转换'
		a.rightMenu-item(onclick='mrzefr.copyPageUrl()')
			i.fa-solid.fa-link
			span='复制本页地址'
		a.rightMenu-item(onclick='toggleWinbox()')
			i.fa-solid.fa-display
			span='切换背景'
		a.rightMenu-item(onclick='mrzefr.reloadbg()')
			i.fa-solid.fa-arrows-rotate
			span='还原壁纸'
		a.rightMenu-item(onclick="window.print()")
			i.fa-solid.fa-print
			span='打印页面'
		a.rightMenu-item(onclick="window.tidioChatApi.show();window.tidioChatApi.open();btf.snackbarShow('打开Tidio成功');")
			i.fa-solid.fa-comment-sms.faa-tada.animated-hover
			span='打开Tidio'
		a.rightMenu-item(onclick="mrzefr.switchReadMode();")
			i.fa-solid.fa-book
			span='阅读模式'
